.select {
	align-items: center;
	border: 1px solid #1A1A1A;
	border-radius: 40px;
	cursor: pointer;
	display: inline-flex;
	height: 40px;
	padding: 0 51px 0 28px;
	position: relative;
	
	&::before {
		content: '';
		left: 0;
		height: 13px;
		position: absolute;
		right: 0;
		top: 100%;
	}
	
	&:hover,
	&.current {
		background: #1A1A1A;
		
		.select-title {
			color: #fff;
			
			&::after {
				border-color: #fff;
				transform: rotate(-225deg);
				top: calc(50% - 2px);
			}
		}
		
		.select-list {
			display: block;
		}
	}
	
	&-title {
		color: $color-black;
		font: 16px/19px $font-MessinaSans;
		position: relative;
		
		&::after {
			border-left: 2px solid #1A1A1A;
			border-bottom: 2px solid #1A1A1A;
			content: '';
			height: 9px;
			transform: rotate(-45deg);
			position: absolute;
			transition: all .25s ease;
			right: -30px;
			top: calc(50% - 5px);
			width: 9px;
		}
	}
	
	&-list {
		background: #fff;
		border: 1px solid #D7D7D7;
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		display: none;
		min-width: 294px;
		padding: 16px 18px 12px 47px;
		position: absolute;
		right: 0;
		top: calc(100% + 13px);
		z-index: 99;
		
		li {
			padding: 3px 0 5px;
			position: relative;
			
			&::before {
				background: url("../img/dest/icon-tick.svg") no-repeat;
				content: '';
				height: 11px;
				left: -27px;
				opacity: 0;
				position: absolute;
				top: calc(50% - 5.5px);
				transition: all .25s ease;
				width: 14px;
			}
			
			&:hover,
			&.current {
				&::before {
					opacity: 1;
				}
			}
			
			a {
				color: #000;
				font: 20px/38px $font-MessinaSans;
			}
		}
	}
}