.ticker {
	background: #fff;
	border-top: 1px solid #D7D7D7;
	overflow: hidden;
	padding: 24px 0;
	transition: 0s;
	white-space: nowrap; /* remove after js */

	@include desktop {
		padding: 22px 0 25px;
	}

	li {
		font: 14px/20px $font-MessinaSans;
		letter-spacing: -0.01em;
		margin: 0;
		transition: 0s;

		@include desktop {
			font-size: 17px;
			line-height: 25px;
		}
	}
}
