<% var data = {
    title: "Заголовок | Проект",
  }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>
  <%= _.template(require('./../includes/home__hero.html').default)(data) %>
  <%= _.template(require('./../includes/home__about-us2.html').default)(data) %>
  <%= _.template(require('./../includes/home__why-atomic.html').default)(data) %>
  <%= _.template(require('./../includes/home__team.html').default)(data) %>
  <%= _.template(require('./../includes/home__photos.html').default)(data) %>
  <%= _.template(require('./../includes/home__press.html').default)(data) %>
  <%= _.template(require('./../includes/home__cta.html').default)(data) %>
  <%= _.template(require('./../includes/ticker.html').default)(data) %>
  <%= _.template(require('./../includes/footer.html').default)(data) %>