.footer {
	background: #0D0D0D;
	padding: 86px 0 40px;
	
	@include desktop {
		padding: 108px 0 40px;
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	h3 {
		color: #fff;
		font: 600 14px/17px $font-MessinaSansMono;
		margin: 0 0 8px;
		opacity: .5;
		width: 100%;
	}
	
	&-nav {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		padding: 0 0 62px;
		
		@include tablet {
			padding: 0 0 40px;
			width: 70%;
		}
		
		@include desktop {
			max-width: 360px;
			padding: 0;
		}
		
		ul {
			padding: 0 60px 0 0;
			
			@include desktop {
				width: 50%;
			}
			
			&:last-child {
				padding: 0;
			}
		}
		
		li {
			padding: 12px 0;
			
			@include desktop {
				padding: 15px 0;
			}
			
			a {
				color: #fff;
				font: 17px/24px $font-MessinaSans;
				letter-spacing: 0.01em;
				
				@include desktop {
					font-size: 18px;
				}
				
				&:hover {
					color: #808080;
				}
			}
		}
	}
	
	&-contacts {
		width: 100%;
		padding: 0 0 56px;
		
		@include tablet {
			max-width: 30%;
			padding: 0 0 40px;
			width: 70%;
		}
		
		@include desktop {
			max-width: 240px;
			padding: 0;
		}
		
		&-email {
			color: #fff;
			display: inline-flex;
			font: 18px/24px $font-MessinaSans;
			margin: 15px 0 6px;
			
			@include desktop {
				margin: 15px 0 3px;
			}
		}
	}
	
	&-newsletter {
		width: 100%;
		
		@include desktop {
			max-width: 360px;
		}
		
		p {
			color: #fff;
			font-size: 18px;
			line-height: 27px;
			margin: 18px 0 17px;
			
			@include desktop {
				margin: 20px 0 25px;
			}
		}
		
		input[type="email"],
		input[type="text"] {
			border-color: #fff;
			color: #fff;
			
			@include placeholder-color(rgba(#fff, .5));
		}
	}
	
	&-logo {
		display: none;
		margin: auto;
		left: calc(50% - 14px);
		position: absolute;
		
		@include desktop {
			display: block;
		}
		
		img {
			display: block;
			margin: auto;
		}
	}
	
	&-bottom {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		letter-spacing: 0.04em;
		padding: 30px 0 40px;
		position: relative;
		text-align: center;
		width: 100%;
		
		@include desktop {
			letter-spacing: initial;
			justify-content: initial;
			padding: 69px 0 0;
		}
		
		&-nav {
			display: contents;
			
			@include desktop {
				display: block;
			}
			
			ul {
				display: contents;
				
				@include desktop {
					display: flex;
				}
				
				li {
					padding: 0 15px 0 0;
					
					&::before {
						color: rgba(#fff,.3);
						content: '•';
						padding: 0 15px 0 0;
					}
					
					&:first-child {
						&::before {
							display: none;
						}
					}
					
					&:last-child::before {
						display: none;
						
						@include desktop {
							display: inline;
						}
					}
					
					a {
						color: rgba(#fff,.3);
						font: 13px/16px $font-MessinaSans;
						letter-spacing: .8px;
						text-transform: uppercase;
						white-space: nowrap;
					}
				}
			}
		}
		
		.copyright {
			display: contents;
			margin: 0 0 0 auto;
			text-align: right;
			
			@include desktop {
				display: block;
			}
			
			p {
				color: rgba(#fff,.3);
				display: inline;
				font: 13px/16px $font-MessinaSans;
				letter-spacing: .6px;
				margin: 0 15px 0 0;
				text-transform: uppercase;
				
				@include desktop {
					margin: 0;
				}
			}
		}
	}
}